* {
    margin: 0;
    padding: 0;
}


nav {
    /*     display: grid;
 */
    grid-area: navBar;
    background-color: darkblue;

}


nav p {
    color: whitesmoke;
    font: bold arial 15px;
    text-align: center;
}

aside {
    grid-area: asideBar;
    background-color: gray;
    padding-left: 1rem;
    border-right: solid black;
}

aside b {
    margin-bottom: 1rem;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem;


}

aside ul li {
    margin: 0.3rem;
}

aside ul li a {
    text-decoration: none;
    color: aliceblue;
}

aside ul li a:hover {
    color: brown;
}


section {
    display: grid;
    grid-area: grillaProd;
    background-color: gray;
    grid-template-columns: 1fr 1fr;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.item img {
    width: 30%;
    margin: 5%;
    border: solid black 0.1rem;
}

.item button {
    width: 40%;
    margin: 5%;
}

footer {
    /*     display: grid;
 */
    grid-area: footer;
    direction: row;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-areas:
        "navBar navBar navBar"
        "asideBar grillaProd grillaProd"
        "asideBar grillaProd grillaProd"
        "footer footer footer";
}